Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Plugins/*/Intermediate
Plugins/Developer/RiderLink
Build
- Assets -
.idea
*_BuiltData.uasset

*.psd
*.tif
*.jpg
*.png
*.tga

*.blend
*.fbx

*.wav
